
<html lang="en">
<head>
    <link rel="stylesheet" href="..\styles\FishRecipe.css">
</head>
<body>
    <h1 class="main_headers">All Awesome Recipes</h1>
    <div class="columns">
        <div>
        <a href="fishfingersCSS.html"><img src="../assets/JumboFishFingers.jpg" class="Image"></a></div>
        <div>
        <a href="fishfingersCSS.html"><img src="../assets/roast-chicken-dishes-recipe.png" class="Image"></a></div>
      <div> <a href="fishfingersCSS.html"><img src="..\assets\classic-chocolate-mousse.jpg" class="Image"></a></div>
    </div>
</body>