
<html lang="en">
<head>
    <link rel="stylesheet" href="..\public\FishRecipe.css">
    <script type="text/javascript" src="sqlite3.js"></script>
    <script type= "text/javascript" src="../Models/recipe_model.js"></script>
</head>
<body onload="getAllRecipes()">
    <div class="columns">

        <!-- <div>
        <a href="fishfingersCSS.html"><img src="../public/JumboFishFingers.jpg" class="Image"></a></div>
        <div>
        <a href="fishfingersCSS.html"><img src="../public/roast-chicken-dishes-recipe.png" class="Image"></a></div>
      <div> <a href="fishfingersCSS.html"><img src="..\public\classic-chocolate-mousse.jpg" class="Image"></a></div> -->
    </div>

</body>

